body {
	font:100%/1.25 'Droid Sans', arial, sans-serif;
}
p, ol, ul {
	margin:0 0 20px 0;
	font-size:12px;
	color:#555555;
	text-shadow:0 1px 0 #fff;
	line-height:20px;
	font-size:12px;
}
h1, h2, h3, h4, h5 {
	margin:5px 0 20px 0;
	font-weight: bold;
	font-family:'Droid Sans', arial, sans-serif;
	text-shadow:0 1px 0 #fff;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color:#333;	
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
	color:#008720;		
}

h1 {
	font-size:2.0em;
}
h2 {
	font-size:1.75em;
}
h3 {
	font-size:1.5em;
	font-family:'Droid Serif', georgia, serif;
	font-weight:normal;
	font-style:italic;
}

.callout h3 {
	padding-top:20px;	
}

h4 {
	font-size:0.9em;
	margin:10px 0 10px 0;
	line-height:2em;
}

h5 {
	font-size:12px;
	margin:10px 0 10px 0;
}

h6 {
	padding:6px 0 12px 0;
	font-size:10px;
	font-family: 'Droid Serif', georgia, serif;
	font-style:italic;
	text-shadow:#fff 0px 1px 0px;
	color:#555555;
}


ol {
	margin:30px 0;
	padding:0 0 0 18px;
	list-style: lower-roman
}
ol li, ul li {
	margin: 2px 0;
}

ul {
	margin:30px 0;
	padding:0 0 0 18px;
	list-style-type: circle;
}

a {
	text-decoration:none;
	color:#008720;
}

/*-----------------------------------------------------------------------------------*/
/*	Nav Specific Typography
/*-----------------------------------------------------------------------------------*/

.nav a, .nav label {
	text-decoration:none;
	font-weight:bold;
	color:#ffffff;
	text-transform:uppercase;
	font-size:12px;
	text-shadow: 0 -1px 0 #000;
}

.navlinks li.current a, .nav li:hover a, .nav li:active a, .nav li:focus a {
	color:#000;
	text-shadow:0 1px 0 #3da233;
}

.cursive {
	font-family: 'Homemade Apple', georgia, serif;
}

.stronger {
	font-weight: bold;
	font-size: 15px;
	padding-right: 20px;
	padding-left: 5px;
}

.answer {
	padding-left: 5px;
}

.bigAndBold {
	margin-top:10Px;
	font-size: 15Pt;
	font-weight: bold;
}

.mediumAndBold {
	margin-top: 10px;
	font-size: 12Pt;
	font-weight: bold;
}

.contactText {
	color: #555;
	font-size: 10Pt;
}

/*-----------------------------------------------------------------------------------*/
/*	Featured Section Typography
/*-----------------------------------------------------------------------------------*/

.featured h1 {
	font-size:30pt;
	font-family:'Droid Sans', arial, sans-serif;
	font-weight:bold;
	color:#000;
	margin:30px 0 0 0;
	padding:0;
	text-align:center;
}
.featured h2 {
	 font-family: 'Homemade Apple', georiga, serif;	
	 color:#008720;
	 font-size:36px;
	 margin:0;
	 padding:0;
	 text-align:center;
	 font-weight:normal;
}

/*-----------------------------------------------------------------------------------*/
/*	Twitter Styling
/*-----------------------------------------------------------------------------------*/

ul#twitter_update_list li {
	color:#333333;
	text-shadow:0px 1px 0px #fff;
}

/*-----------------------------------------------------------------------------------*/
/*	Sidebar Specific Typography
/*-----------------------------------------------------------------------------------*/

.sidebar ul li a {
	color:#555555;
	font-size:12px;
	text-shadow:0 1px 0 #fff;
}

/*-----------------------------------------------------------------------------------*/
/*	Blog Specific Typography
/*-----------------------------------------------------------------------------------*/

.blog h6 {
	line-height:20px;
	text-align:right;
	padding:0;
}

/*-----------------------------------------------------------------------------------*/
/*	Contact Form Typography
/*-----------------------------------------------------------------------------------*/
div.box,
div.box label,
div.box label span,
div.box .input_text,
div.box .message {
	font-family:'Droid Sans', arial, sans-serif;
	color:#333;
	font-size:12px;
}

/*-----------------------------------------------------------------------------------*/
/*	Button Element
/*-----------------------------------------------------------------------------------*/

a.button, div.box label a.button span {
	/* FONT PROPERTIES */
	text-decoration: none;
	font-weight:bold;
	color:#ffffff;
	font-size:12px;
	text-shadow: 0 -1px 0 #000;
	font-family:'Droid Sans', arial, sans-serif;
	font-style:normal;
}

a.button:hover span {
	color:#000;
	text-shadow:0 1px 0 #3da233;
}

a.button.large {
	font-size:16px;	
}
a.button.small {
	font-size:10px;	
}